body
{
    background-color: #E9EAED;
    text-align: center;
}
#main_page{
    width: 60%;
    border:activecaption ;
     overflow: hidden;
     margin-left: auto;
     margin-right: auto;
     background-color: whitesmoke;
}
#dip_def
{
   // float: left;
    text-align: left;
    background-color: white;
    color: black;
    font-size: 14pt;
    
}
dd{
    margin: 15px;
}
nav
{
    height: 60px;
    //float: left;
    width: 100%;
    background-color: #3A5795;
    text-align: left;
    margin-bottom: 2px; 
    
}
input, button{
    margin-top: 10px;
    margin-left: 20px;
    height: 20px;
    //margin: auto;
}
